sapai@https://github.com/andreped/sapai/releases/download/v0.1.1/sapai-0.1.1-py3-none-any.whl
gym@https://github.com/andreped/gym/releases/download/v0.21.0-binary/gym-0.21.0-py3-none-any.whl
scikit-learn
